## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(1000)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Minab,IR,57.20,mist,27.1467,57.0801,Bam campground
1,3,Nchelenge,ZM,72.12,overcast clouds,-9.3451,28.7340,KD Travellers Home
2,5,Los Llanos De Aridane,ES,64.40,broken clouds,28.6585,-17.9182,Valle Aridane
3,6,Nouakchott,MR,77.00,sand,18.0858,-15.9785,Hôtel Iman
4,9,Mbandaka,CD,73.62,overcast clouds,0.0487,18.2603,Guest House Epervier
...,...,...,...,...,...,...,...,...
436,730,Yokadouma,CM,75.31,clear sky,3.5167,15.0500,Hôtel De Ville De Yokadouma
437,731,Ondjiva,AO,75.69,few clouds,-17.0667,15.7333,SOS Motel
438,732,Lira,UG,75.00,overcast clouds,2.2350,32.9097,ST Lira Hotel Limited
439,733,Rakai,UG,64.29,overcast clouds,-0.7200,31.4839,NaN
440,734,Zabid,YE,75.09,clear sky,14.1951,43.3152,دار الضيافة

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Bela']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Bela']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Anjar']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Porbandar']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Veraval']

In [31]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
72,112,Porbandar,IN,64.2,clear sky,21.6422,69.6093,Lords Inn Porbandar

In [32]:
import numpy as np

In [33]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0],vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0]

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
SA_walking_route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING',)
fig.add_layer(SA_walking_route)

fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,557,Bela,IN,50.52,scattered clouds,25.9333,81.9833,Raj Bhawan
1,229,Anjar,IN,67.10,clear sky,23.1333,70.0167,Manav Residency
2,112,Porbandar,IN,64.20,clear sky,21.6422,69.6093,Lords Inn Porbandar
3,596,Veraval,IN,68.09,clear sky,20.9000,70.3667,Lords Inn Somnath

In [38]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [40]:
print(locations)

       Lat      Lng
0  25.9333  81.9833
1  23.1333  70.0167
2  21.6422  69.6093
3  20.9000  70.3667

In [41]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(25, 71.0), zoom_level=6.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))